<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.flowfree" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.VIBRATE" />

        <activity
            android:name="com.flowfree.home.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flowfree.home.LevelChoice"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level_choice"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level17x7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level17x7"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level27x7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level27x7"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level37x7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level37x7"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level18x8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level18x8"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level28x8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level28x8"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.flowfree.levels.Level38x8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level38x8"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
